		body {
		    background-color: white;
		}
		
		#donateBtn {
		    margin-left: 1em;
		    margin-top: 3em;
		    background-color: #FF8000;
		    color: white;
		}
		
		#DonateTag {
		    margin-left: 2em;
		    margin-bottom: 3em;
		    color: lightgrey;
		}
		
		#adoptBtn {
		    margin-left: 1em;
		    background-color: #007FFF;
		    color: white;
		}
		
		#adoptTag {
		    margin-left: 2em;
		    margin-bottom: 10em;
		    color: lightgrey;
		}
		
		#logoBotonera {
		    margin-left: 9em;
		    margin-top: 7em;
		}
		
		#appName {
		    margin-left: 6em;
		    margin-top: 1em;
		}