		body {
		    background-color: white;
		}
		
		#donateBtn {
		    margin-left: 3em;
		    margin-top: 3em;
		    background-color: #FF8000;
		    color: white;
		    width: 12em;
		}
		
		#DonateTag {
		    margin-left: 4em;
		    margin-bottom: 3em;
		    color: lightslategray;
		}
		
		#adoptBtn {
		    margin-left: 3em;
		    background-color: #007FFF;
		    color: white;
		    width: 12em;
		}
		
		#adoptTag {
		    margin-left: 4em;
		    margin-bottom: 10em;
		    color: lightslategray;
		    width: 12em;
		}
		
		#logoBotonera {
		    margin-left: 8em;
		    margin-top: 7em;
		}
		
		#appName {
		    margin-left: 5em;
		    margin-top: 1em;
		}