body {
    background-color: white;
}

#donateBtn {
    margin-left: 3em;
    margin-top: 5em;
    margin-bottom: 3em;
    background-color: #FF8000;
    color: white;
}

#adoptBtn {
    margin-left: 3em;
    margin-bottom: 10em;
    background-color: #007FFF;
    color: white;
}